<!DOCTYPE html>
@model StudentManagement.ViewModels.HomeDetailsViewModel 
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.PageTitle</title>
</head>
<body>
    <div>@Model.PageTitle</div>
    <div>ID: @Model.Student.Id</div>
    <div>姓名: @Model.Student.Name</div>
    <div>主修: @Model.Student.Major</div>

</body>
</html>


